<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Pedidos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text color="primary" class="ion-margin ion-padding">
    Envia tu comentario de tus historial
  </ion-text>

  <ng-container *ngIf="($historialPedido | async) as historial; else elseTemplate">
    <ion-card *ngFor="let item of historial.data" mode="md" style="width: 100%; font-size: 0.5em !important;"
      (click)="presentModal(item.id)" class="ion-no-padding ion-no-margin ion-margin-top">
      <ion-card-content>
        <ion-card-header>
          <ion-card-subtitle color="primary">Pendiente para revision</ion-card-subtitle>

        </ion-card-header>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="2" class="ionic-text-center">
              <ion-icon name="cube-outline" style="font-size: 2.5em;"></ion-icon>
            </ion-col>
            <ion-col size="7">

              <ion-label color="primary">Creado</ion-label>
              <p>{{ item.created_at |  date: 'dd/MM/yyyy'}}.</p>
              <ion-label color="medium" style="font-weight: bold;">Observacion</ion-label>
              <p *ngIf="item.observation; else elseTemplateObservacion"> {{ item.observation }}</p>
              <ng-template #elseTemplateObservacion>
                <p>Sin Observacion</p>
              </ng-template>
              <ion-chip class="ion-no-margin" color="warning" mode="ios" outline="false">
                <ion-label>En camino </ion-label>
              </ion-chip>
            </ion-col>
            <ion-col size="3">
              <ion-text color="dark" style="font-weight: bold;">
                {{ item.total}} Bs
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #elseTemplate>
    <div style="width: 100%;" class="ion-text-center">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>

  </ng-template>


</ion-content>