<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Pedidos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Multiple Filtros</ion-list-header>
  
    <ion-item>
      <ion-label>Toppings</ion-label>
      <ion-select multiple="true" cancelText="Cancelar" okText="Aceptar">
        <ion-select-option value="bacon">Bacon</ion-select-option>
        <ion-select-option value="olives">Black Olives</ion-select-option>
        <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
        <ion-select-option value="peppers">Green Peppers</ion-select-option>
        <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
        <ion-select-option value="onions">Onions</ion-select-option>
        <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
        <ion-select-option value="pineapple">Pineapple</ion-select-option>
        <ion-select-option value="sausage">Sausage</ion-select-option>
        <ion-select-option value="Spinach">Spinach</ion-select-option>
      </ion-select>
    </ion-item>
  
    <ion-item>
      <ion-label>Pets</ion-label>
      <ion-select multiple="true">
        <ion-select-option value="bird" selected>Bird</ion-select-option>
        <ion-select-option value="cat">Cat</ion-select-option>
        <ion-select-option value="dog" selected>Dog</ion-select-option>
        <ion-select-option value="honeybadger">Honey Badger</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-card *ngFor="let item of items" fxLayout="row" fxLayoutAlign="space-betwen center">
    <img style="width: 25%; height: 25%;" src="/assets/img/no-image.png" alt="" srcset="">
    <ion-card-content>
      <ion-text color="primary"><h3>Titulo del subProducto</h3></ion-text>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptate atque pariatur modi voluptatem recusandae
        ullam i.</p>
        <ion-button (click)="verDetalle()" size="full">
          ver Detalle
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
