

  <ion-router-outlet id="main-content"></ion-router-outlet>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="productos" selected="false">
        <ion-icon name="bookmarks"></ion-icon>
        <ion-label>Items</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="carrito" selected="false">
        <ion-icon name="cart"></ion-icon>
        <ion-label>Carrito</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="pedidos" selected="false">
        <ion-icon name="search"></ion-icon>
        <ion-label>Pedidos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="historial" selected="false">
        <ion-icon name="reader-outline"></ion-icon>
        <ion-label>Historial</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="usuario" selected="false">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
