<ion-content>
  <ng-container *ngIf="ok; else elseTemplate">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide>
        <img src="/assets/img/no-image.png" alt="" srcset="" style="width: 100%;">
      </ion-slide>
      <ion-slide>
        <img src="/assets/img/no-image.png" alt="" srcset="" style="width: 100%;">
      </ion-slide>
      <ion-slide>
        <img src="/assets/img/no-image.png" alt="" srcset="" style="width: 100%;">
      </ion-slide>
    </ion-slides>
  
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{ producto.generic_name }}</ion-card-subtitle>
        <ion-card-title color="primary"> {{ producto.price_sale}}.Bs</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text color="medium">
          <p>{{ producto.description}}</p>
        </ion-text>
        <ion-button (click)="agregarCarrito()" color="primary" expand="full">
          Comprar
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-container>
  <ng-template #elseTemplate>
    
  </ng-template>
  
  
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="cart"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>