

<ion-content>
<div id="mapContainer" class="mapbox">
    <img style="width: 15%; height: 15%;" src="/assets/img/marker.svg" alt="" srcset=""></div>
<ion-card>
    <ion-card-header>
        <ion-card-subtitle>Informacion</ion-card-subtitle>
        <ion-card-title>Datos del cliente</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <form>
            <ion-item>
              <ion-label color="medium" position="floating">CI/NIT</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
              <ion-label color="medium" position="floating">Nombre</ion-label>
              <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="medium" position="floating">Calle direccion</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <ion-item>
                <ion-label color="medium" position="floating">Telefono</ion-label>
                <ion-input></ion-input>
            </ion-item>
            <section style="margin-top: 2em;">
              <ion-button  expand="block">Realizar pedido</ion-button>
            </section>
          </form>
    </ion-card-content>
</ion-card>
</ion-content>
