ion-toolbar {
    --border-width: 0px !important;
      border: 0 !important;
      --border-style: var(--ion-color-primary);
  }
  .background__card {
    background-color: var(--ion-color-primary);
    position: relative !important;
  }
  ion-card {
    margin-top: 2em ;
    position: absolute !important;
  }
  .tracking-in-expand {
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) 0.3s both;
  }
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
