<ion-content>
  <div  fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
    <div>
        <img style="width: 40%;" src="/assets/img/book.svg" alt="" srcset="">
    </div>  
    <div *ngIf="ok" style="width: 80%;">
      <form [formGroup]="myForm" (ngSubmit)="save($event)">
        <ion-item>
          <ion-label color="medium" position="floating">Usuario</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-text  *ngIf="myForm.get('username').hasError('required') && myForm.get('username').touched" color="danger">
          El usuario es requerido
        </ion-text>
        <ion-item>
          <ion-label color="medium" position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-text  *ngIf="myForm.get('password').hasError('required') && myForm.get('password').touched" color="danger">
          La contraseña es requerida
        </ion-text>
        <section style="margin-top: 2em;">
          <ion-button   type="submit" [disabled]="myForm.invalid" expand="block">Ingresar</ion-button>
        </section>
      </form>
    </div>
  </div>
</ion-content>
